In [9]:
import numpy as np
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest as ztest

from authentication.authenticator import Authenticator
from sheets.sheetmanager import SheetManager

In [10]:
keys = 'credentials.json'
SCOPES = ['https://www.googleapis.com/auth/drive']

data_spreadsheetId = '1ZSZGAtYyGasHIbeCZYBvnN-Xv46hUs6-u5Larbqb0ag'
data_data_range = 'Teads Data'

codebook_spreadsheetId = '1ZSZGAtYyGasHIbeCZYBvnN-Xv46hUs6-u5Larbqb0ag'
codebook_data_range = 'Teads Codebook!A3:J1000'

In [11]:
authenticator = Authenticator(keys)
creds = authenticator.get_creds(SCOPES)
manager = SheetManager(creds)

In [12]:
data_df = manager.get_values(spreadsheetId=data_spreadsheetId,
                        data_range=data_data_range)

codebook_df = manager.get_values(spreadsheetId=codebook_spreadsheetId,
                                data_range=codebook_data_range)

In [13]:
data_df

,SAMPLEID,ANSWERDATE,SEX,AGE,AGEID,PREFECTURE,AREA,MARRIED,CHILD,HINCOME,...,Q6_6,Q6_7,Q7,Q8_1,Q8_2,Q8_3,Q8_4,Q8_5,Q8_6,Q9
0,9804,2019/12/28 10:41,1,56,10,14,3,2,1,3,...,0,1,5,0,0,0,0,1,0,6
1,55020,2019/12/27 20:42,1,50,9,14,3,1,1,3,...,0,1,6,,,,,,,5
2,56237,2019/12/28 22:59,1,63,11,27,5,1,1,2,...,0,1,3,,,,,,,6
3,74972,2019/12/27 20:39,1,64,11,13,3,2,2,7,...,0,0,5,0,0,0,0,1,0,6
4,199003,2019/12/27 21:32,1,60,11,23,4,2,2,3,...,0,0,3,,,,,,,6
5,213703,2019/12/28 13:16,2,48,8,13,3,1,1,4,...,1,0,5,0,0,0,0,0,1,5
6,219383,2019/12/29 0:36,2,47,8,14,3,2,2,,...,1,0,3,,,,,,,5
7,221364,2019/12/28 21:34,2,34,5,23,4,1,1,2,...,0,1,5,1,1,0,1,0,0,3
8,254848,2019/12/29 9:03,2,45,8,28,5,1,1,10,...,0,1,5,0,0,0,0,1,0,5
9,286991,2019/12/28 21:57,2,39,6,14,3,1,1,,...,0,1,5,0,0,0,0,0,1,4
10,287084,2019/12/29 7:00,2,46,8,40,8,1,1,3,...,0,1,6,,,,,,,5
11,289275,2019/12/27 19:54,1,36,6,40,8,1,1,4,...,0,1,3,,,,,,,4
12,292672,2019/12/27 20:21,1,57,10,13,3,2,2,4,...,0,0,5,0,0,0,0,0,1,6
13,297124,2019/12/28 18:50,1,35,6,28,5,2,2,3,...,0,1,2,,,,,,,4
14,303120,2019/12/27 23:50,2,39,6,12,3,1,1,5,...,0,0,3,,,,,,,4
15,317609,2019/12/29 0:01,1,49,8,13,3,2,2,5,...,0,1,5,0,0,0,0,0,1,5
16,332853,2019/12/28 19:45,2,34,5,27,5,2,2,4,...,0,1,6,,,,,,,3
17,502284,2019/12/28 20:20,2,45,8,13,3,2,1,3,...,0,0,6,,,,,,,5
18,516542,2019/12/28 16:35,2,44,7,27,5,1,1,2,...,0,1,3,,,,,,,4
19,519921,2019/12/28 16:22,1,53,9,13,3,2,1,3,...,0,1,5,0,0,0,0,0,1,5
20,528792,2019/12/28 21:50,1,63,11,14,3,2,2,3,...,0,0,1,,,,,,,6
21,529353,2019/12/28 21:56,2,55,10,14,3,1,1,5,...,0,0,5,1,1,0,1,0,0,6
22,540484,2019/12/29 13:56,2,36,6,23,4,2,2,6,...,0,1,3,,,,,,,4
23,587271,2019/12/27 19:56,1,56,10,13,3,2,2,5,...,0,0,5,0,0,0,0,0,1,6
24,633786,2019/12/27 19:41,1,52,9,27,5,2,1,3,...,0,0,3,,,,,,,5
25,650655,2019/12/28 1:12,2,42,7,27,5,2,1,9,...,0,1,5,0,0,0,0,0,1,4
26,671955,2019/12/27 20:37,1,49,8,14,3,2,2,5,...,0,0,5,0,0,0,1,1,0,5
27,673894,2019/12/27 21:46,1,52,9,27,5,2,2,4,...,0,0,4,0,0,1,1,1,0,5
28,676567,2019/12/28 20:55,1,39,6,23,4,2,2,4,...,0,0,2,,,,,,,4
29,685569,2019/12/28 10:50,1,59,10,23,4,1,1,3,...,0,1,6,,,,,,,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,23352399,2019/12/29 17:24,2,34,5,14,3,1,1,,...,0,0,4,1,0,1,0,0,0,3
695,23360048,2019/12/28 11:04,1,46,8,14,3,2,2,3,...,0,0,5,0,0,0,0,0,1,5
696,23362389,2019/12/29 8:58,2,50,9,13,3,1,1,2,...,0,1,5,0,0,0,0,0,1,5
697,23416005,2019/12/27 22:16,2,27,4,27,5,1,1,,...,0,0,6,,,,,,,3
698,23417660,2019/12/28 21:35,1,27,4,13,3,1,1,5,...,1,0,1,,,,,,,3
699,23444895,2019/12/27 22:21,1,35,6,23,4,2,2,2,...,0,0,2,,,,,,,4
700,23451588,2019/12/28 10:18,1,56,10,13,3,2,2,6,...,0,0,2,,,,,,,6
701,23467765,2019/12/29 17:29,1,28,4,28,5,2,1,4,...,0,0,3,,,,,,,3
702,23493033,2019/12/29 18:33,1,38,6,27,5,2,2,5,...,0,0,2,,,,,,,4
703,23622020,2019/12/29 18:09,2,25,4,23,4,1,1,3,...,1,0,2,,,,,,,3
704,23683701,2019/12/29 18:16,2,25,4,13,3,1,1,2,...,0,0,2,,,,,,,3
705,23745344,2019/12/28 23:29,2,26,4,13,3,1,1,2,...,0,0,5,0,0,0,0,0,1,3
706,23756133,2019/12/27 19:37,1,44,7,13,3,1,1,5,...,1,0,2,,,,,,,4
707,23756316,2019/12/28 20:13,2,29,4,14,3,2,1,5,...,1,0,2,,,,,,,3
708,23757716,2019/12/27 20:51,1,25,4,12,3,1,2,2,...,1,0,5,1,0,0,0,0,0,3
709,23762973,2019/12/29 19:45,2,29,4,27,5,1,1,2,...,0,0,4,1,0,0,0,0,0,3
710,23768101,2019/12/29 12:08,2,35,6,23,4,1,1,10,...,0,0,4,0,0,0,0,1,0,4
711,23768273,2019/12/28 22:13,1,36,6,14,3,2,1,5,...,0,0,1,,,,,,,4
712,23787257,2019/12/29 11:04,1,29,4,27,5,1,1,3,...,0,0,2,,,,,,,3
713,23830169,2019/12/27 19:43,2,41,7,13,3,2,2,,...,1,0,2,,,,,,,4
714,23857922,2019/12/28 21:56,1,29,4,23,4,2,1,4,...,0,0,2,,,,,,,3
715,23870246,2019/12/29 2:38,1,33,5,13,3,1,1,3,...,0,0,2,,,,,,,3
716,23870949,2019/12/28 1:20,2,32,5,23,4,2,1,5,...,0,0,5,0,0,0,0,0,1,3
717,23902986,2019/12/28 17:32,1,31,5,14,3,2,1,4,...,0,0,2,,,,,,,3
718,23919814,2019/12/28 22:59,1,29,4,13,3,1,1,9,...,0,0,3,,,,,,,3
719,23925321,2019/12/28 18:39,2,33,5,13,3,2,2,7,...,0,0,2,,,,,,,3
720,23950544,2019/12/28 20:02,1,38,6,13,3,1,1,,...,0,1,5,0,1,0,0,1,0,4
721,23950726,2019/12/27 19:50,2,29,4,14,3,1,1,3,...,1,0,3,,,,,,,3
722,24068623,2019/12/28 3:12,2,46,8,13,3,1,1,3,...,0,1,5,0,0,0,0,1,0,5
723,24090355,2019/12/28 22:23,2,39,6,23,4,2,1,3,...,0,0,5,0,0,0,0,0,1,4

In [14]:
cb_df = codebook_df.copy()

cb_df.replace('', np.nan, inplace=True)

# create new column to indicate question or answer
cb_df['Q/A'] = np.nan
cb_df.loc[~cb_df['Item name'].isna(), 'Q/A'] = 'Q'
cb_df.loc[cb_df['Q/A'] != 'Q', 'Q/A'] = 'A'

# we really only need Item name, label, Choice number, Question / choices, Q/A
cols = ['Item name', 'label', 'Choice number', 'Question / choices', 'Q/A']
cb_df = cb_df[cols]

cb_df['Item name'] = cb_df['Item name'].fillna(method='ffill')

cb_df.loc[~cb_df['Item name'].isna() & cb_df['label'].isna(), 'label'] = cb_df['Item name']

#cb_df[~cb_df['Item name'].isna() & cb_df['label'].isna()]
cb_df

,Item name,label,Choice number,Question / choices,Q/A
0,SAMPLEID,SAMPLEID,NaN,å›žç­”è€…ID,Q
1,ANSWERDATE,ANSWERDATE,NaN,å›žç­”æ—¥æ™‚,Q
2,SEX,SEX,NaN,æ€§åˆ¥,Q
3,SEX,SEX,1.0,ç”·æ€§,A
4,SEX,SEX,2.0,å¥³æ€§,A
5,AGE,AGE,NaN,å¹´é½¢(æ‰),Q
6,AGEID,AGEID,NaN,å¹´é½¢,Q
7,AGEID,AGEID,1.0,12æ‰æœªæº€,A
8,AGEID,AGEID,2.0,12æ‰ï½ž19æ‰,A
9,AGEID,AGEID,3.0,20æ‰ï½ž24æ‰,A
10,AGEID,AGEID,4.0,25æ‰ï½ž29æ‰,A
11,AGEID,AGEID,5.0,30æ‰ï½ž34æ‰,A
12,AGEID,AGEID,6.0,35æ‰ï½ž39æ‰,A
13,AGEID,AGEID,7.0,40æ‰ï½ž44æ‰,A
14,AGEID,AGEID,8.0,45æ‰ï½ž49æ‰,A
15,AGEID,AGEID,9.0,50æ‰ï½ž54æ‰,A
16,AGEID,AGEID,10.0,55æ‰ï½ž59æ‰,A
17,AGEID,AGEID,11.0,60æ‰ä»¥ä¸Š,A
18,PREFECTURE,PREFECTURE,NaN,éƒ½é“åºœçœŒ,Q
19,PREFECTURE,PREFECTURE,1.0,åŒ—æµ·é“,A
20,PREFECTURE,PREFECTURE,2.0,é’æ£®çœŒ,A
21,PREFECTURE,PREFECTURE,3.0,å²©æ‰‹çœŒ,A
22,PREFECTURE,PREFECTURE,4.0,å®®åŸŽçœŒ,A
23,PREFECTURE,PREFECTURE,5.0,ç§‹ç”°çœŒ,A
24,PREFECTURE,PREFECTURE,6.0,å±±å½¢çœŒ,A
25,PREFECTURE,PREFECTURE,7.0,ç¦å³¶çœŒ,A
26,PREFECTURE,PREFECTURE,8.0,èŒ¨åŸŽçœŒ,A
27,PREFECTURE,PREFECTURE,9.0,æ ƒæœ¨çœŒ,A
28,PREFECTURE,PREFECTURE,10.0,ç¾¤é¦¬çœŒ,A
29,PREFECTURE,PREFECTURE,11.0,åŸ¼çŽ‰çœŒ,A
...,...,...,...,...,...
161,Q6,Q6,NaN,æ¬¡ã®ã†ã¡ã€ã‚ãªãŸãŒå¥½ããªåºƒå‘Šãƒ—ãƒ©ãƒƒãƒˆãƒ•ã‚©ãƒ¼ãƒ ã¯ã©ã‚Œã§ã™ã‹ã€‚ã‚ã¦ã¯ã¾ã‚‹ã‚‚ã®ã‚’å…¨ã¦ãŠé¸ã³ãã ã•ã„ã€‚,Q
162,Q6,Q6_1,1.0,YouTube,A
163,Q6,Q6_2,2.0,Facebook,A
164,Q6,Q6_3,3.0,Instagram,A
165,Q6,Q6_4,4.0,ãƒ†ãƒ¬ãƒ“,A
166,Q6,Q6_5,5.0,Yahoo! JAPAN,A
167,Q6,Q6_6,6.0,Twitter,A
168,Q6,Q6_7,7.0,ã‚ã¦ã¯ã¾ã‚‹ã‚‚ã®ã¯ãªã„,A
169,Q7,Q7,NaN,YouTubeã«ã©ã®ç¨‹åº¦åºƒå‘Šã‚’æŽ²è¼‰ã—ãŸã„ã¨æ€ã„ã¾ã™ã‹ã€‚,Q
170,Q7,Q7,1.0,ã¨ã¦ã‚‚ãã†æ€ã†,A
171,Q7,Q7,2.0,ãã†æ€ã†,A
172,Q7,Q7,3.0,ã©ã¡ã‚‰ã¨ã‚‚è¨€ãˆãªã„,A
173,Q7,Q7,4.0,ãã†æ€ã‚ãªã„,A
174,Q7,Q7,5.0,ã¾ã£ãŸããã†æ€ã‚ãªã„,A
175,Q7,Q7,6.0,ã‚ã‹ã‚‰ãªã„,A
176,Q8,Q8,NaN,YouTubeã«åºƒå‘Šã‚’æŽ²è¼‰ã—ãŸã„ã¨æ€ã‚ãªã„ç†ç”±ã¯ã©ã‚Œã§ã™ã‹ã€‚ã‚ã¦ã¯ã¾ã‚‹ã‚‚ã®ã‚’å…¨ã¦ãŠé¸ã³ãã ã•ã„ã€‚,Q
177,Q8,Q8_1,1.0,é‡‘é¡ãŒé«˜ã„ã€ROIã«åˆã‚ãªã„,A
178,Q8,Q8_2,2.0,ååˆ†ãªãƒªãƒ¼ãƒã‚’ç²å¾—ã™ã‚‹ã“ã¨ãŒã§ããªã„,A
179,Q8,Q8_3,3.0,ã‚¿ãƒ¼ã‚²ãƒƒãƒˆã«ãƒªãƒ¼ãƒã™ã‚‹ã“ã¨ãŒã§ããªã„,A
180,Q8,Q8_4,4.0,åºƒå‘Šã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³ã®è¨­å®šãŒé›£ã—ã„,A
181,Q8,Q8_5,5.0,åºƒå‘ŠåŠ¹æžœãŒä½Žã„,A
182,Q8,Q8_6,6.0,ã‚ã¦ã¯ã¾ã‚‹ã‚‚ã®ã¯ãªã„,A
183,Q9,Q9,NaN,ã‚ãªãŸã®å¹´é½¢ã‚’ãŠç­”ãˆãã ã•ã„ã€‚,Q
184,Q9,Q9,1.0,18æ­³æœªæº€,A
185,Q9,Q9,2.0,18-24æ­³,A
186,Q9,Q9,3.0,25-34æ­³,A
187,Q9,Q9,4.0,35-44æ­³,A
188,Q9,Q9,5.0,45-54æ­³,A
189,Q9,Q9,6.0,55-64æ­³,A
190,Q9,Q9,7.0,65æ­³ä»¥ä¸Š,A

In [15]:
questions = cb_df[['label', 'Question / choices']]
questions

          label                                Question / choices
0      SAMPLEID                                             å›žç­”è€…ID
1    ANSWERDATE                                              å›žç­”æ—¥æ™‚
2           SEX                                                æ€§åˆ¥
3           SEX                                                ç”·æ€§
4           SEX                                                å¥³æ€§
5           AGE                                             å¹´é½¢(æ‰)
6         AGEID                                                å¹´é½¢
7         AGEID                                             12æ‰æœªæº€
8         AGEID                                           12æ‰ï½ž19æ‰
9         AGEID                                           20æ‰ï½ž24æ‰
10        AGEID                                           25æ‰ï½ž29æ‰
11        AGEID                                           30æ‰ï½ž34æ‰
12        AGEID                                           35æ‰ï½ž39æ‰
13        AGEID                                           40æ‰ï½ž44æ‰
14        AGEID                                           45æ‰ï½ž49æ‰
15        AGEID                                           50æ‰ï½ž54æ‰
16        AGEID                                           55æ‰ï½ž59æ‰
17        AGEID                                             60æ‰ä»¥ä¸Š
18   PREFECTURE                                              éƒ½é“åºœçœŒ
19   PREFECTURE                                               åŒ—æµ·é“
20   PREFECTURE                                               é’æ£®çœŒ
21   PREFECTURE                                               å²©æ‰‹çœŒ
22   PREFECTURE                                               å®®åŸŽçœŒ
23   PREFECTURE                                               ç§‹ç”°çœŒ
24   PREFECTURE                                               å±±å½¢çœŒ
25   PREFECTURE                                               ç¦å³¶çœŒ
26   PREFECTURE                                               èŒ¨åŸŽçœŒ
27   PREFECTURE                                               æ ƒæœ¨çœŒ
28   PREFECTURE                                               ç¾¤é¦¬çœŒ
29   PREFECTURE                                               åŸ¼çŽ‰çœŒ
..          ...                                               ...
161          Q6   æ¬¡ã®ã†ã¡ã€ã‚ãªãŸãŒå¥½ããªåºƒå‘Šãƒ—ãƒ©ãƒƒãƒˆãƒ•ã‚©ãƒ¼ãƒ ã¯ã©ã‚Œã§ã™ã‹ã€‚ã‚ã¦ã¯ã¾ã‚‹ã‚‚ã®ã‚’å…¨ã¦ãŠé¸ã³ãã ã•ã„ã€‚
162        Q6_1                                           YouTube
163        Q6_2                                          Facebook
164        Q6_3                                         Instagram
165        Q6_4                                               ãƒ†ãƒ¬ãƒ“
166        Q6_5                                      Yahoo! JAPAN
167        Q6_6                                           Twitter
168        Q6_7                                        ã‚ã¦ã¯ã¾ã‚‹ã‚‚ã®ã¯ãªã„
169          Q7                       YouTubeã«ã©ã®ç¨‹åº¦åºƒå‘Šã‚’æŽ²è¼‰ã—ãŸã„ã¨æ€ã„ã¾ã™ã‹ã€‚
170          Q7                                           ã¨ã¦ã‚‚ãã†æ€ã†
171          Q7                                              ãã†æ€ã†
172          Q7                                         ã©ã¡ã‚‰ã¨ã‚‚è¨€ãˆãªã„
173          Q7                                            ãã†æ€ã‚ãªã„
174          Q7                                        ã¾ã£ãŸããã†æ€ã‚ãªã„
175          Q7                                             ã‚ã‹ã‚‰ãªã„
176          Q8  YouTubeã«åºƒå‘Šã‚’æŽ²è¼‰ã—ãŸã„ã¨æ€ã‚ãªã„ç†ç”±ã¯ã©ã‚Œã§ã™ã‹ã€‚ã‚ã¦ã¯ã¾ã‚‹ã‚‚ã®ã‚’å…¨ã¦ãŠé¸ã³ãã ã•ã„ã€‚
177        Q8_1                                    é‡‘é¡ãŒé«˜ã„ã€ROIã«åˆã‚ãªã„
178        Q8_2                                ååˆ†ãªãƒªãƒ¼ãƒã‚’ç²å¾—ã™ã‚‹ã“ã¨ãŒã§ããªã„
179        Q8_3                                ã‚¿ãƒ¼ã‚²ãƒƒãƒˆã«ãƒªãƒ¼ãƒã™ã‚‹ã“ã¨ãŒã§ããªã„
180        Q8_4                                   åºƒå‘Šã‚­ãƒ£ãƒ³ãƒšãƒ¼ãƒ³ã®è¨­å®šãŒé›£ã—ã„
181        Q8_5                                           åºƒå‘ŠåŠ¹æžœãŒä½Žã„
182        Q8_6                                        ã‚ã¦ã¯ã¾ã‚‹ã‚‚ã®ã¯ãªã„
183          Q9                                   ã‚ãªãŸã®å¹´é½¢ã‚’ãŠç­”ãˆãã ã•ã„ã€‚
184          Q9                                             18æ­³æœªæº€
185          Q9                                            18-24æ­³
186          Q9                                            25-34æ­³
187          Q9                                            35-44æ­³
188          Q9                                            45-54æ­³
189          Q9                                            55-64æ­³
190          Q9                                             65æ­³ä»¥ä¸Š

[191 rows x 2 columns]

In [17]:
def recode_SA_A(question_list):
    for q in question_list:
        df[q+'_r'] = 0
        df.loc[((df[q] == 1) | (df[q] == 2)), q+'_r'] = 1

In [16]:
overall_df = data_df.copy()

questions_to_recode = ['Q2', 'Q3', 'Q4']

recode_SA_A(questions_to_recode) 

overall_df['group'] = np.nan
overall_df.loc[df['CELL'] <= 8, 'group'] = 'EXP'
overall_df.loc[df['CELL'] >= 9, 'group'] = 'CON'

df = df[[*[q+'_r' for q in questions_to_recode], 'group']]

cut_dfs = []
for cut 

con_base = len(df[df['group'] == 'CON'])
exp_base = len(df[df['group'] == 'EXP'])

df = df.groupby('group').sum().transpose()
df['CON_base'] = con_base
df['EXP_base'] = exp_base

df['CON_desired_%'] = df['CON']/df['CON_base']
df['EXP_desired_%'] = df['EXP']/df['EXP_base']

df['abs_lift_%'] = df['EXP_desired_%'] - df['CON_desired_%']

df['p-value'] = df.apply(lambda x: ztest(
                                        [x['EXP'], x['CON']],
                                        [x['EXP_base'], x['CON_base']])[1], axis = 1)

df

group,CON,EXP,CON_base,EXP_base,CON_desired_%,EXP_desired_%,abs_lift_%,p-value
Q2_r,73,75,362,362,0.201657,0.207182,0.005525,0.853768
Q3_r,58,64,362,362,0.160221,0.176796,0.016575,0.551362
Q4_r,94,100,362,362,0.259669,0.276243,0.016575,0.614627

In [ ]:
df.to_csv("result.csv")